@import "../../vars.css";

.container {
  position: relative;
  background-color: rgba(12, 12, 12, 0.37);
  border-radius: 15px;
  padding: 73px;
  margin-top: 129px;
  z-index: 5;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.253);
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutImage {
  width: 35%;
}

.aboutItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
  background-image: linear-gradient(
    90deg,
    rgba(165, 215, 232, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.6s;
}

.aboutItem:hover {
  background-size: 100% 100%;
}

.aboutItem h3 {
  font-size: 25px;
  font-weight: 600;
  color : rgb(67, 165, 165);
}

.aboutItem p {
  font-size: 25px;  
  font-weight: lighter;
}
.aboutImage{
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  filter: drop-shadow(16px 16px 20px rgba(38, 218, 164, 0.247));
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(-5px, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}


.bottomBlur {
  position: absolute;
  width: 40vw;
  height: 50vw;
  min-width: 350px;
  min-width: 250px;
  top: 246px;
  right: -20vw;
  border-radius: 764px;
  background: rgba(218, 220, 224, 0.178);
  filter: blur(100px);
  z-index: 0;
}


@media screen and (max-width: 830px) {
  .container {
    background-color: rgba(0, 0, 0, 0.253);;
    padding-left: 0;
    padding-right: 0;
  }

  .content {
    flex-direction: column;
  }

  .aboutImage {
    display: none;
  }

  .aboutItems {
    margin-top: 29px;
  }

  .aboutItem {
    padding-left: 0;
    padding-right: 0;
  }
}
