:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #bc57bc;
  --color-secondary: #3faca6;
  --color-dark: #0b2447;
  --color-bg: #04152d;

  /* Fonts */
  --font-roboto: "Roboto";
}
